:host .mat-icon {
    vertical-align: middle;    
    margin-right: 20px;    
}
.profile-card {
    padding: 0 10px 10px 10px;
    
}

.btn-up {
    height:36px;
}
.btn-up:hover {
    cursor: pointer;
}

.img-profile {
    height: 132px;
    width: 130px;
    border: 2px dotted #17a2b875;
    border-radius: 2%;
}
.btn-upload {
    width: 76px;
    border:0.75px solid rgba(0, 0, 0, 0.452);
    border-radius: 0px;
}

.file {
    border-radius: 0px;
    border:0.75px solid rgba(0, 0, 0, 0.452);
    border-left:0px;
}
.img-upload {
    height: 30px;
}
:host {
    display: flex; 
    flex-direction: column;
    height: 100%;
}
.div-top {
    border-top: 2px dotted #17a2b859;
}
.cars-container {
    border:1px solid #3f51b555; 
    padding:0.75px;
    border-radius: 4.5px;
}
.cars-container-owner {
    border:0.75px solid #3f51b520; 
    padding:0.75px;
    border-radius: 4.5px;
}










.msg{
  text-align: center;
  font-size: 135%;
}








.text-input {
    border: 0px;
    border-bottom: 2px solid #17a2b8f5;
    border-radius: 0px;
}   

.select-input {
  border: 0.35px solid #17a2b8f5;
  border-bottom: 2px solid #17a2b8f5;
}

.text-input:hover {
    border-bottom: 3px solid #17a2b8;
} 


table {
    width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}



.btn {
    border:1.75px solid;
    border-radius: 1.75px;
}

.is-active {
    color: #17a2b8;
}
.is-inactive {
    color: #dc3545;
}

.btn-is-active {
    border: 1.5px solid #8fa3a725;
    width: 105px;
    border-radius: 2px;
}
.btn-is-inactive {
    border: 1.5px solid #dc354525;
    width: 105px;
    border-radius: 2px;
}















/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3f51b545; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #73758130; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f51b565; 
    width: 10.5px;
  }

  button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }



    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #17a2b8;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: #17a2b8;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #17a2b8;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 12px;
      color:#3f51b5;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
  
      color: #17a2b8;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 0px;
      margin-left: 4px;
      border-radius: 0;
      background: #17a2b8;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: #17a2b8;
    }
  
  
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container .input-chk {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border: 1px solid #17a2b8;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    color:#d3d3d3;
    background-color: #17a3b8d7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .bb {
    border-bottom:1px solid #0000001f;
  }
  .w-20 {
    width: 24.5%;
    font-size: 100%;
    border:1px solid #0000001f;
    border-bottom:0.5px solid #0000001f;
    margin-top:1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left:0.5px;
    margin-right:0.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .bg-gas {
    background: rgba(255, 255, 255, 0);
    border:0px;
  }
  .w-20:hover {
    background: rgba(255, 255, 255, 0.781);
  }
  .active-btn {
    border-bottom: 2px solid #17a2b8;
  }

  .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
  }

  .btn-outline-danger:hover, .btn-outline-danger:active {
    color: white;
    border-color: white;
  }

  .btn-search {
    margin-left:3px;
    width:88px;
  }
  .btn-comp {
    background: #17a3b830;
  }
  .btn-comp:hover {
    border-color: #17a3b8;
    background: #17a3b868;
  }

  
a{
  color:white;
  cursor: pointer;
}

a.nav-link.active {
  border:0px solid black;
  border-bottom:5px solid white;
  background:#00000000;
  color:white;
}

a:hover, a:focus, a:visited {
  border-bottom:5px solid #00000003;
  background:#00000033;
  color:white;
}
 a.nav-link.active:hover {
  border:0px solid black;
  background:#00000033;
  border-bottom:5px solid white;
  color:white;
}

table {
  width: 100%;
}
.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.example-full-width {
width: 100%;
}

.active-cyan input.form-control[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}

.cars-container {
border:1px solid #3f51b555; 
padding:0.75px;
border-radius: 4.5px;
}

.text-input {
border: 0px;
border-bottom: 2px solid #17a2b8f5;
border-radius: 0px;
height:65px;
}   

.text-input:hover {
border-bottom: 3px solid #17a2b8;
} 

.btn {
border:1.75px solid;
border-radius: 1.75px;
}
.btn:hover {
border:1.75px solid;
border-radius: 1.75px;
}



.custom-slider .ng5-slider .ng5-slider-bar {
  background: #17a2b8;
  height: 2px;
}
.custom-slider .ng5-slider .ng5-slider-selection {
  background: #17a2b8;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #17a2b8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 12px;
  color:#3f51b5;
}

.custom-slider .ng5-slider .ng5-slider-limit {

  color: #17a2b8;
}

.custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 0px;
  margin-left: 4px;
  border-radius: 0;
  background: #17a2b8;
  top: -1px;
}

.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #17a2b8;
}



.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 19px;
width: 19px;
background-color: #eee;
border: 1px solid #17a2b8;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
color:#d3d3d3;
background-color: #17a3b8d7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 7px;
top: 4px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

  
a{
  color:white;
  cursor: pointer;
}

a.nav-link.active {
  border:0px solid black;
  border-bottom:5px solid white;
  background:#00000000;
  color:white;
}

a:hover, a:focus, a:visited {
  border-bottom:5px solid #00000003;
  background:#00000033;
  color:white;
}
 a.nav-link.active:hover {
  border:0px solid black;
  background:#00000033;
  border-bottom:5px solid white;
  color:white;
}





