<div class="form-group row" [formGroup]="form">
  <label [attr.for]="question.key" class="col-sm-2 col-form-label">{{question.label}}</label>
  
    <div [ngSwitch]="question.controlType" class="col-sm-10">
  
      <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type" class="form-control">

      <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </div>
  
    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>

